body{
    background-color: black
}

header{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{

    background-color: aquamarine;
}

footer{


}

#botao{
    background-color:blue;
    width: 200px;
    text-decoration: none;
    align-items: center;
}
